@mixin grid-child-modifiers(){

    &--self-start{
        align-self: flex-start;
    }

    &--self-end{
        align-self: flex-end;
    }

    &--self-center{
        align-self: center;
    }

}